<template name="layout">
<div class="container">
  <br><br>

    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="{{pathFor 'home'}}">Home</a></li>
      <li role="presentation"><a href="{{pathFor 'dogs'}}">Dogs & Puppies</a></li>
      <li role="presentation"><a href="{{pathFor 'cats'}}">Cats & Kittens</a></li>
      <li role="presentation"><a href="{{pathFor 'availablepets'}}">Available Pets</a></li>
      <li role="presentation"><a href="{{pathFor 'offerpets'}}">Offer Pets</a></li>
      <li role="presentation"><a href="{{pathFor 'contactus'}}">Contact Us</a></li>
      <li role="presentation"><a href="{{pathFor 'quiz4'}}">Quiz4</a></li>
      <li>{{> loginButtons}}</li>
    </ul>

    {{> yield}}
</div>
</template>
